<div class="results results-change">
	<h2>Customer Change</h2>
	<div class="change-boxes">
    {{#100}}
		<div class="change-box">
			<div class="ammount">{{100}}</div>
			<div><small>100 Mewla</small></div>
		</div>
		{{/100}}
    {{#33}}
		<div class="change-box">
			<div class="ammount">{{33}}</div>
			<div><small>33 Mewla</small></div>
		</div>
		{{/33}}
    {{#21}}
		<div class="change-box">
			<div class="ammount">{{21}}</div>
			<div><small>21 Mewla</small></div>
		</div>
		{{/21}}
    {{#7}}
		<div class="change-box">
			<div class="ammount">{{7}}</div>
			<div><small>7 Mewla</small></div>
		</div>
		{{/7}}
		{{#3}}
		<div class="change-box">
			<div class="ammount">{{3}}</div>
			<div><small>3 Mewla</small></div>
		</div>
		{{/3}}
    {{#1}}
		<div class="change-box">
			<div class="ammount">{{1}}</div>
			<div><small>1 Mewla</small></div>
		</div>
		{{/1}}
	</div>
</div>
