<div class="tmpl change-tmpl">
	<h2>Customer Change</h2>
	{{#1}}
	<div class="change-box">
		<div>{{1}}</div>
		<div>1 Mewla</div>
	</div>
	{{/1}}
	{{#3}}
	<div class="change-box">
		<div>{{3}}</div>
		<div>3 Mewla</div>
	</div>
	{{/3}}
	{{#7}}
	<div class="change-box">
		<div>{{7}}</div>
		<div>7 Mewla</div>
	</div>
	{{/7}}
	{{#21}}
	<div class="change-box">
		<div>{{21}}</div>
		<div>21 Mewla</div>
	</div>
	{{/21}}
	{{#33}}
	<div class="change-box">
		<div>{{33}}</div>
		<div>33 Mewla</div>
	</div>
	{{/33}}
	{{#100}}
	<div class="change-box">
		<div>{{100}}</div>
		<div>100 Mewla</div>
	</div>
	{{/100}}
</div>